@import '../variables.module.scss';

.stockSum {
    white-space: nowrap;

    svg {
        max-height: 1em;
        max-width: 100px;
    }

    th:first-child {
        font-size: .9em;
    }

    .stockTh {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .groupTh {
        a>* {
            display: inline-block;
        }

        .gname {
            color: $textDark;
            font-size: .8em;
        }
    }

    td {
        text-align: center;
    }
}