@import '../variables.module.scss';

.wrap {
    margin: 5px 0;

    .chart {
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        background: $bgBright;
    }
}

@include desktop {
    .wrap {
        display: flex;
        justify-content: space-around;

        .chart {
            width: 100%;
        }

        .chart:first-child {
            margin-right: 10px;
        }
    }

}

@include mobile {
    .chart {
        margin: 10px auto;
    }
}