@import '../variables.module.scss';

.wrap.fixed {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--nav-height));
    z-index: 15;
}

.wrap.fixed::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
}

.wrap>i {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 20px;
    width: 20px;

    svg {
        position: absolute;
    }
}

.wrap.fixed>i {
    width: 30px;
    height: 30px;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    border-radius: 10px;
    overflow: hidden;

    .stock {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        border: 1px solid $bgDarker;
        cursor: pointer;
        container-type: size;
        container-name: card;

        &.카카오,
        &.영풍 {
            * {
                color: black !important;
                font-weight: bold;
            }
        }

        .inner {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;

            .info {
                padding: 3px;
                max-width: 100%;
                max-height: 100%;
                // display: table;
                margin: auto;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: min(40cqh, 15cqw);

                a {
                    color: $textBright;
                    font-weight: bold;

                    svg {
                        max-height: 1.5em;
                        max-width: 100%;
                    }
                }

                .percent {
                    color: $textBright;
                    font-size: .6em;
                }
            }
        }

    }

    .stock:hover {
        opacity: .8;
    }
}