@import '../variables.module.scss';

.aside {
    position: absolute;
    width: $navWidth;
    right: var(--nav-margin);
    top: var(--top);
    overflow: auto;
}

.box {
    border-radius: 10px;
    padding: 10px;
    color: $textColor;
    position: relative;
    min-height: 150px;
    margin-bottom: 10px;
    background: $bgMid;
    font-size: .9em;

    >span {
        display: block;
        font-weight: bold;
    }

    th {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100px;
        max-width: 100px;
    }
}

.user {
    display: flex;
    flex-direction: column;


    button {
        padding: 8px;
    }

    .login {
        input {
            width: 100%;
            margin-bottom: 5px;
            padding: 10px;
            background: $bgBright;
            border-radius: 8px;
        }
    }

    .login {
        height: 100%;
        margin: auto;
    }

    .logout {
        text-align: center;
        margin-top: auto;

        .submit {
            justify-content: flex-end;
        }
    }

    .submit {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        button {
            background: $bgDark;
        }
    }
}

.up::before {
    content: "\01F4C8";
}

.down::before {
    content: "\01F4C9";
}

.rank::before {
    content: "\01F4B8";
}

.shadow {
    display: none;
}

@include mobtab {
    .aside {
        position: fixed;
        top: 0;
        right: calc(-1 * $navWidth - 50px);
        z-index: 30;
        background: var(--bg-body);
        transition: right .3s;
        box-sizing: content-box;
        padding-left: 10px;
        height: 100%;

        .search {
            display: block;

            >div {
                position: relative !important;
            }

            form {
                background: $bgBright;
            }

            form>button {
                display: none;
            }
        }
    }

    .aside.show {
        right: 0;
        transition: right .3s;
    }

    .shadow {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(0, 0, 0, .5);
        left: 0;
        top: 0;
        padding: 20px;

        >button {
            padding: 0;
            justify-content: left;
        }
    }

    .aside.show+.shadow {
        display: block;
    }

    .box {
        min-height: 130px;
    }
}