@import '../variables.module.scss';

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: $bgMid;
    border-bottom: 1px solid $borderColor;
    height: var(--nav-height);
    padding: 10px;
    z-index: 10;
    text-align: left;

    .inner {
        margin: auto;
        margin: 0 var(--nav-margin);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttonList {
        display: flex;
        align-items: center;
        height: 100%;

        .button {
            height: 100%;
            display: inline-flex;
            align-items: center;
            transition: background .3s;
            border-radius: 5px;

            a {
                border-right: 1px solid $borderColor;
                font-size: 1em;
                text-decoration: none;
                color: $textColor;
                padding: 5px 20px;
                font-weight: bold;
            }
        }

        .home {
            height: 100%;
            display: inline-flex;
            padding: 0;
            margin-right: 10px;
            width: 32px;
            height: 32px;

            a {
                height: fit-content;
            }
        }

        .button:first-of-type {
            a {
                border-left: 1px solid $borderColor;
            }
        }

        .button:hover {
            background: $bgDarker;
        }
    }

    >* {
        vertical-align: -webkit-baseline-middle;
    }
}

.buttonList2 {
    display: flex;
    margin-left: auto;
}

@include mobtab {
    .nav {
        padding-bottom: 0;

        .inner {
            flex-wrap: wrap;
        }

        .buttonList {

            .button {
                a {
                    padding: 5px 10px;
                }
            }
        }
    }

    .mobileBtn {
        display: inline-block;
        white-space: nowrap;
    }

    .search {
        display: none;
    }
}