@import '../variables.module.scss';

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg-main);
    border-bottom: 1px solid var(--border-color);
    height: $navHeight;
    padding: 10px;
    z-index: 10;
    text-align: left;

    .buttonList {
        margin-left: var(--nav-margin);
        display: inline-block;
        height: 100%;

        .button {
            height: 100%;
            display: inline-flex;
            align-items: center;
            transition: background .3s;
            border-radius: 5px;

            a {
                border-right: 1px solid var(--border-color);
                font-size: 1em;
                text-decoration: none;
                color: $textColor;
                padding: 5px 20px;
            }
        }

        .button:hover {
            background: $bgDark;
        }
    }

    >* {
        vertical-align: -webkit-baseline-middle;
    }

    a {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1em;
    }
}

.menuOpen {
    display: none;
    height: 100%;
}

@include mobtab {
    .nav {
        .buttonList {
            a {
                padding: 5px 15px;
            }
        }

        // top: 0;
    }

    .menuOpen {
        display: block;
        float: right;
    }

    .search {
        display: none;
    }
}