@import '../variables.module.scss';

.docs {
    counter-reset: h3;

    .box {

        >h3:before {
            counter-increment: h3;
            content: counter(h3) ". ";
        }

        >h3 {
            counter-reset: h4;
        }

        >h4:before {
            counter-increment: h4;
            content: counter(h3) "." counter(h4) ". ";
        }

        b {
            color: $textBright;
        }
    }
}


.box {
    background: $bgMid;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;

    >h3 {
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 5px;
    }

    >h4 {
        margin-bottom: 10px;
    }

    img {
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
        background: $bgBright;
        display: table;
    }
}

.scoring {
    th {
        text-align: center;
    }
}


.inline {
    display: flex;

    >* {
        width: 49%;
    }

    tr>* {
        padding: 3px 5px;
        font-size: .9em;
    }

    td {
        position: relative;

        >span {
            z-index: 2;
            position: relative;
        }
    }

    .per {
        font-size: .8em;
    }

    .bar {
        background: #652b2b;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

}

.predImage {
    img:first-child {
        width: 100%;
        height: auto;
    }

    img:last-child {
        width: 100%;
        height: auto;
    }
}

.predBarWrap {
    background: $bgDark;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}

@include mobile {
    .inline {
        flex-direction: column;

        >* {
            width: 100%;
        }
    }

    .box {
        padding: 15px;
    }

    .title {
        display: block;
        margin: auto 10px;
    }

    .predWrap {
        padding: 5px;
    }
}