@import '../variables.module.scss';

.meta {
    width: fit-content;
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;

    img {
        padding: 15px;
        max-width: 200px;
        display: block;
    }
}

.groupPrice {

    .priceChart {
        height: 420px;
        padding: 20px;
        background: $bgMidDark;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .groupChart {
        height: 250px;
    }
}

.title {
    margin-left: 10px;
}