@import '../variables.module.scss';

.meta {
    width: fit-content;
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;

    img {
        padding: 15px;
        max-width: 200px;
        display: block;
    }
}

.groupChart {
    height: 250px;
}

.title {
    padding-bottom: 10px;
    margin-top: 2rem;
    margin-left: 10px;
    margin-bottom: 0;
}