@import '../variables.module.scss';

.error {
    transition: opacity .3s;
    font-size: .8em;
    text-align: center;
}

.collapse {
    margin: 5px auto;

    >button {
        color: $textBright;
        background: $bgBright;
        font-size: 1em;
        width: 100%;
        padding: 15px;
        text-align: left;
        border-radius: 10px;
        transition: background .2s;

        >span {
            transition: all .3s;
        }
    }

    >div {
        max-height: 0;
        height: fit-content;
        overflow: hidden;
        background: $bgDark;
        transition: max-height .2s ease-in-out;

        >div {
            padding: 10px;
            overflow: auto;
        }
    }

    >button:hover {
        background: $bgBrighter;
    }
}

.collapse.open {
    >button {
        background: $bgBrighter;

        >span {
            transform: rotate(90deg);
        }
    }

    >div {
        max-height: 800px;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
    height: 100%;
    margin-bottom: 0;

    >div {
        border: 10px solid $bgDark;
        border-top: 10px solid $bgBright;
        border-radius: 50%;
        animation: spinner 1.5s linear infinite;
    }
}

.bar {
    height: 100%;
    background: $barColor !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}