@import '../variables.module.scss';

.title {
    border: 1px solid $borderColor;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    min-height: 19px;
    text-align: center;
    background: $thColor;
    overflow-y: clip !important;

    .name {
        padding: 5px;
    }

    h3 * {
        color: $textBright;
    }

    * {
        max-width: 100%;
        margin: 0;
    }

    svg {
        max-height: 50px;
        padding: 5px;
        width: fit-content;
    }
}

.btn {
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    background: $tbColor;
    border-top: 1px solid $borderColor;
    cursor: pointer;
}

.content {
    // transition: max-height .3s ease-out;
    overflow-wrap: break-word;
    overflow: auto;
    overflow-y: clip !important;

    table {
        min-width: 100%;
        width: unset;
        white-space: nowrap;

        tr>* {
            overflow: hidden;
            overflow-wrap: anywhere;
            text-overflow: ellipsis;
            text-align: center;
        }

        // th:not(:first-child),
        // td {
        // }

        *[rowspan] {
            border-right: 1px solid $bgDark;
        }

        .stock {
            text-align: left;
        }

        .ind {
            font-size: .8em;
            text-align: left;
        }
    }

}

.cnt {
    font-size: .8em;
}

.induty {
    h3 {
        margin: 10px auto;

        a span {
            vertical-align: bottom;
        }
    }

    svg {
        padding: 0;
        width: 1.2em;
        height: 1.2em;

        &,
        * {
            fill: $textBright !important;
            stroke: $textBright !important;
        }

        margin-right: 5px;
    }

    th {
        span {
            z-index: 1;
            position: relative;
        }
    }
}

@include mobile {
    .stock {
        max-width: 150px;
    }

    .ind {
        max-width: 120px;
    }
}