@import '../variables.module.scss';

.title {
    border: 1px solid $borderColor;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    min-height: 19px;
    text-align: center;
    background: var(--th-color);
    overflow-y: clip !important;

    .name {
        padding: 5px;
    }

    h3 * {
        color: $textBright;
    }

    * {
        max-width: 100%;
        margin: 0;
    }

    svg {
        max-height: 50px;
        padding: 5px;
        width: fit-content;
    }
}

.btn {
    width: 100%;
    display: block;
    margin-top: 5px;
    padding: 5px 0;
    background: var(--td-color);
    border-top: 1px solid var(--border-color);
    cursor: pointer;
}

.content {
    max-height: 0;
    transition: max-height .3s ease-out;
    overflow-wrap: break-word;
    overflow-y: clip !important;

    table {
        width: 100%;

        .stock {
            white-space: nowrap;
            max-width: 40vw;
        }

        thead {
            text-align: center;
        }

        tr>* {
            overflow: hidden;
            white-space: inherit;
            overflow-wrap: anywhere;
            text-overflow: ellipsis;
        }

        th:not(:first-child),
        td {
            width: min-content;
        }

        td {
            text-align: center;
            white-space: nowrap;
            // width: 100px;
        }
    }

}

.content.view {
    max-height: 10000px !important;
    transition: max-height .3s ease-in !important;
}

.induty {
    th {
        text-align: center;
    }

    td {
        text-align: left !important;
    }

    .cnt {
        font-size: .8em;
    }
}