@import '../variables.module.scss';

.wrap {
    text-align: right;
}

.help.left {
    dialog {
        right: -5px;
        left: auto;
    }

    dialog::before {
        right: 10px;
    }
}

.help.right {
    dialog {
        left: -5px;
        right: auto;
    }

    dialog::before {
        left: 10px;
    }
}


.help {
    position: relative;
    padding-left: 5px;
    font-size: 1rem;

    .head {
        margin-top: 0;
        margin-bottom: 5px;
    }

    >* {
        vertical-align: middle;
        font-size: .9em;
    }

    >span {
        padding-bottom: 5px;
    }

    dialog::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-bottom-color: $borderColor;
    }

    dialog {
        display: none;
        position: absolute;
        padding: 0;
        z-index: 50;
        min-width: min(50vw, 350px);
        max-width: 350px;
        white-space: break-spaces;
        width: max-content;

        *:not(.head) {
            color: $textColor;
        }

        >* {
            width: 100%;
            display: block;
            font-size: .9em;
            border: 1px solid $borderColor;
            border-radius: 10px;
            background: $bgDark;
            padding: 10px;
            margin: 0;
            margin-left: auto;
            text-align: left;
        }

        span+table {
            margin-top: 10px;
        }

        p {
            margin-bottom: 5px;
        }

        table {
            margin: 0;

            tr>* {
                padding: 3px 5px;
                border: none;
                border-bottom: 1px solid $borderColor;
                text-align: center;
            }
        }
    }

    >span:hover+dialog,
    dialog:hover {
        display: block;
    }
}