@import '../variables.module.scss';

.wrap {
    text-align: right;
}

.help.left {
    dialog {
        right: -5px;
        left: auto;
    }

}

.help.right {
    dialog {
        left: -5px;
        right: auto;
    }
}


.help {
    // position: relative;
    padding-left: 5px;
    font-size: 1rem;


    >* {
        vertical-align: middle;
        font-size: .9em;
    }

    .question {
        padding-bottom: 5px;
        position: relative;

        .arrow {
            display: none;
            position: absolute;
            top: 10px;
            width: 0;
            height: 0;
            left: 1px;
            border: 5px solid transparent;
            border-bottom-color: $anchorBright;
        }

    }

    &:hover {

        dialog,
        .arrow {
            display: block;
        }
    }


    dialog {
        // display: none;
        // display: block;
        position: absolute;
        padding: 0;
        z-index: 50;
        max-width: 350px;
        white-space: break-spaces;
        margin: 0;

        .head {
            margin-top: 0;
            margin-bottom: 5px;
        }

        *:not(.head):not(a, b) {
            color: $textColor;
        }

        >* {
            width: 100%;
            display: block;
            font-size: .9em;
            border-radius: 5px;
            border: .5px solid $borderColor;
            background: $bgMidDark;
            padding: 10px;
            margin: 0;
            margin-left: auto;
            text-align: left;
        }

        p {
            margin-bottom: 5px;
        }

        table {
            margin: 10px auto;

            tr>* {
                padding: 3px 5px;
                border: none;
                border-bottom: 1px solid $borderColor;
                text-align: center;
            }
        }
    }


    .question:hover+dialog,
    dialog:hover {
        display: block;
    }
}