@import '../variables.module.scss';

.label {
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
    background: $bgDark;
}

.input {
    display: none;
}

.input:checked+.label {
    background: $bgBrighter;
}

.radioGroup {
    display: block;
    background: $bgDark;
    padding: 5px;
    border-radius: 5px;

    h4 {
        margin: 0;
        text-align: center;
    }

    .label {
        margin: auto 3px;
    }

    .label:first-of-type {
        margin-left: 0;
    }
}