@import '../variables.module.scss';

.label {
    margin: auto 3px;
    padding: 3px 5px;
    border-radius: 5px;
    display: inline-block;
    background: $bgDark;
}

.label:first-of-type {
    margin-left: 0;
}

.input {
    display: none;
}

.input:checked+.label {
    background: $bgBrighter;
}

.radioGroup {
    display: block;
    margin: 3px;
    background: $bgDark;
    padding: 5px;
    border-radius: 5px;

    h4 {
        margin: 0;
        text-align: center;
    }
}