@import '../variables.module.scss';

.footer {
    display: flex;
    justify-content: space-between;

    a {
        color: $textBright;
    }

    >* {
        text-align: center;
    }

    .prev {
        margin-right: auto;
        width: 25%;
        display: flex;
        justify-content: space-around;
    }

    .next {
        margin-left: auto;
        width: 25%;
        display: flex;
        justify-content: space-around;
    }

    .pages {
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        .page {
            margin: 0 5px;
            display: inline-block;

            a {
                color: $textColor;
                text-decoration: none;
            }

            &.active a {
                color: $textBright;
                text-decoration: underline;
            }
        }
    }
}

.moreTable {
    .more {
        cursor: pointer;
    }


}