@import '../variables.module.scss';

.tabGroup {
    margin: 10px auto;
    box-shadow: 0px -4px 0px -2px $borderColor inset;
    padding: 5px;
    padding-bottom: 0;
    background: $bgMidDark;

    .tab {
        padding: 8px 10px;
        display: inline-block;
        cursor: pointer;
        transition: background .3s;
        border-bottom: 2px solid transparent;
        min-width: 60px;
        text-align: center;
        color: $textColor;
        text-decoration: none;
    }

    .tab.active,
    .tab:hover {
        background: $bgDark;
        border-color: $textColor;
    }
}