@import '../variables';

.nav,
.main {
    position: absolute;
    top: var(--top);

    button:not(.predBar *) {
        padding: 10px;
        background: $bg-bright;
        border-radius: 10px;
        margin: 5px;
        width: fit-content;
        // display: block;

    }

    button:not(.predBar *):hover {
        background: $bg-dark;
    }

    p {
        margin: 0;
    }
}

.nav {
    background: $bg-mid;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    left: var(--nav-margin);
    width: var(--nav-width);

    h3 {
        margin-top: 10px;
    }
}

@include mobile {
    .nav {
        width: 100%;
        top: 0;
        z-index: 1;

        h3 {
            display: inline-block;
            margin: 0;
            margin-right: 5px;
        }
    }

    .main {
        top: 150px;
    }
}

.main {
    background: $bg-bright;
    padding: 10px;
    border-radius: 10px;
    width: var(--main-width);
    right: var(--nav-margin);
    margin: auto;

    tr>* {
        padding: 3px 8px;
        font-size: .9em;
    }

    .inline {
        display: flex;

        >* {
            width: 49%;
        }
    }

    .info {
        p {
            margin: 0;
        }

        td {
            position: relative;

            >span {
                z-index: 2;
                position: relative;
            }
        }

        .bar {
            background: #652b2b;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    .box {
        background: $bg-mid;
        padding: 20px;
        padding-top: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}