.stock {
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pred {
    text-align: right;
}

.favTable {
    thead {
        text-align: center;
    }

    tbody {
        overflow: hidden;

        th:first-child {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    tr {
        border-top: none;
    }

    .predBar {

        border: none;

        >* {
            border: none;
            height: 0;
            padding: 0;
            overflow: hidden;
        }

        .bar {
            max-height: 0px;
            transition: max-height .3s;

            >div {
                margin: 0;
            }
        }

        &.view {
            .bar {

                max-height: 80px;
            }

            // display: table-row;
        }
    }

    .open {
        font-size: .8em;
        text-align: right;
    }

    td {
        text-align: center;
    }
}