@import '../variables.module.scss';

.profile {
    padding: 20px 0;
}

.metaTable {
    width: min(100%, 200px);
    margin-right: 0;
    margin-left: auto;
    text-align: center;
    margin-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;

    a {
        background: $bgBright;
        margin: auto 5px;
    }
}

.meta {
    font-size: .8em;
    text-align: right;
}

.id {
    color: white;
    font-size: 2em;
    display: inline-block;

    >span {
        position: relative;
        width: 40px;
        height: 40px;
        display: inline-block;
        background-size: cover;
        margin-right: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 3px 3px;
    }

    >span::after {
        color: white;
        content: attr(rankNum);
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        width: 18px;
        height: 18px;
        margin: auto;
        font-size: 14px;
        text-align: center;
        background: $bgDark;
        border-radius: 50%;
    }
}

@include mobtab {
    .profile {
        padding: 20px 10px;
    }
}