@import '../variables.module.scss';

.box {
    background: $bgMid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    min-height: 150px;

    >div {
        width: 100%;
    }

    tr>* {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.stock {
    max-width: 100px;
    text-align: left;
}

.queueTable {
    table {
        // table-layout: fixed;


        thead {
            text-align: center;
        }

        td {
            text-align: center;
        }
    }
}

.dataTable {
    table {
        margin: 0;
    }

    td {
        text-align: center;
    }
}