@import 'variables.module.scss';

.wrap {
    .data {
        background: $bgMid;
        border-radius: 5px;
        padding: 15px;
        margin: 10px auto;
        opacity: 1;
        transition: opacity .5s;

        .time {
            font-size: .9em;
        }

        button {
            margin-left: auto;
        }

        &.unchecked {
            background: $bgBright;

            .time:before {
                content: "";
                width: .8em;
                height: .8em;
                display: inline-block;
                background: $redBright;
                border-radius: 50%;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }

    h4 {
        margin: 0;
    }
}