@import './variables.module.scss';

.area {
    background: $bgMid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;

    >p {
        margin-top: 10px;
    }
}

.chartArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

    .fa {
        margin: auto 3px;
        display: flex;
    }

    .percent {
        font-size: .8em;
        margin: auto 2px;
    }

    .chart {
        margin-top: 10px;
        height: 200px;
        padding: 10px;
    }

    .wrap {
        width: 49%;
        display: flex;
        flex-direction: column;

        >*:not(.chart) {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
}

.chart {
    border-radius: 10px;
    padding: 5px;
    background: $bgBright;
}


// .inline {
//     display: flex;
//     justify-content: space-around;

//     >* {
//         width: 49%;
//     }
// }

@include mobile {
    .area {
        padding: 10px;
        margin-bottom: 10px;

        h2,
        h3,
        h4 {
            margin: 3px auto;
        }
    }

    .chartArea {
        .chart {
            height: 100px;
        }
    }

    .groupArea {
        .chart {
            height: 300px;
        }
    }
}