@import './variables.module.scss';

.area {
    background: $bgMid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    >p {
        margin-top: 10px;
    }
}

.chartArea {
    .fa {
        margin: auto 3px;
        display: flex;
    }

    .percent {
        font-size: .8em;
        margin: auto 2px;
    }

    .chart>*>* {
        height: 200px;
    }

    .wrap {
        display: flex;
        flex-direction: column;

        >*:not(.chart) {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
}

.groupArea {
    .chart {
        border-radius: 10px;
        padding: 5px;
        background: $bgBright;
    }
}

.inline {
    display: flex;
    justify-content: space-around;

    >* {
        width: 49%;
    }
}

@include mobile {
    .area {
        padding: 10px;
        margin-bottom: 10px;

        h2,
        h3,
        h4 {
            margin: 3px auto;
        }
    }

    .groupArea {
        .chart {
            height: 300px;
        }
    }
}