@import './variables.module.scss';

.area {
    background: $bgMid;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    >p {
        margin-top: 10px;
    }
}

.chartArea {
    .wrap {
        display: flex;
        flex-direction: column;

        .chart {
            max-height: 200px;
        }

        .fa {
            margin: auto 3px;
            display: flex;
        }

        .percent {
            font-size: .8em;
            margin: auto 2px;
        }

        >* {
            display: flex;
            justify-content: center;
            margin: 0;
        }
    }
}

.groupArea {
    .chart {
        border-radius: 10px;
        padding: 5px;
        background: $bgBright;
    }
}

.inline {
    display: flex;
    justify-content: space-around;

    >* {
        max-width: 49%;
    }
}

@include mobile {
    .groupArea {
        .chart>* {
            height: 300px;
        }
    }
}