@import 'variables.module.scss';

:root {
    --red: #e3665d;
    --blue: #5566ff;
    --green: #5ba76e;
    --rank-unranked: #383838;
    --rank-bronze: #884e1e;
    --rank-silver: #7e7e7e;
    --rank-gold: #bdb32a;
    --rank-platinum: #4aebba;
    --rank-diamond: #4a9deb;
    --rank-master: #eb4a4a;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//     -webkit-box-shadow: 0 0 0 30px var(--bg-body) inset !important;
//     -webkit-text-fill-color: var(--text-color) !important;
// }

:root {
    --border-color: #21212d;
    --text-color: #aaa;
    --text-darker: #666;
    --bg-body: #04111e;
    --bg-main: #10192C;
    --th-color: #0f1122;
    --td-color: #161824;
}

.katex-html {
    display: none;
}

@include mobtab {
    :root {
        --main-width: 100%;
        --nav-margin: 0;
        --top: 80px;
    }

    main {
        padding: 10px;

        tr {
            >* {
                padding: 5px 8px;
            }
        }
    }

    body {
        font-size: 14.5px;
    }

    .mh {
        display: none;
    }

}

@include desktop {
    :root {
        --main-width: 700px;
        --nav-margin: calc((100% - var(--main-width) - 2 * #{$navWidth} - 40px) / 2);
        --top: 100px;
    }

    main {
        margin: auto;
        display: table;

        tr {
            >* {
                padding: 5px 10px;
            }
        }
    }

    body {
        font-size: 16px;
    }
}

.apexcharts-inner {
    transform: translate(0, 10px);
}

h1,
h2,
h3,
h4 {
    scroll-margin-top: calc($navHeight + 5px);
    color: $textBright;

    * {
        color: $textBright;
    }
}

h2 {
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
}

body {
    background: $bgDark;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    color: var(--text-color);
    border-color: var(--border-color);
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

canvas {
    max-height: unset;
}

i {
    width: 1em;
    height: 1em;
    cursor: pointer;
    display: inline-block;
}

.fa {
    font-size: 1em;
}

a {
    color: $anchor;
}

a:not(:hover) {
    text-decoration: none;
}

button:focus,
input:focus {
    outline: none;
}

.d {
    display: none;
}

.bold,
.bold * {
    color: $textBright;
    font-weight: bold;
}

.red,
.red * {
    color: var(--red) !important;
}

.blue,
.blue * {
    color: var(--blue) !important;
}

.yellow,
.yellow * {
    color: yellow !important;
}

.des {
    text-align: right;
    font-size: .8em;
    margin: 0;
}

hr {
    border: 1px solid var(--border-color);
    clear: both;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

dialog {
    background: none;
    border: none;
}

button,
a,
label {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background: none;
    border: none;
}

button {
    background: none;
    border: none;
}

main {
    text-align: left;
    margin-top: var(--top);
    width: var(--main-width);
    padding-bottom: 800px;
    max-width: 900px;
    margin-bottom: 50px;
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
}

tr {
    >* {
        border: 1px solid var(--border-color);
        padding: 2px 3px;
        word-break: keep-all;
    }

    >th {
        background: var(--th-color);
    }

    >td {
        background: var(--td-color);
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: .8em;
}

.unranked,
.unranked * {
    color: var(--rank-unranked) !important;
}

.bronze,
.bronze * {
    color: var(--rank-bronze) !important;
}

.silver,
.silver * {
    color: var(--rank-silver) !important;
}

.gold,
.gold * {
    color: var(--rank-gold) !important;
}

.platinum,
.platinum * {
    color: var(--rank-platinum) !important;
}

.diamond,
.diamond * {
    color: var(--rank-diamond) !important;
}

.master,
.master * {
    color: var(--rank-master) !important;
}