@import 'variables.module.scss';

*::-webkit-scrollbar {
    display: none;
}

// navHeight가 필요한 이유? 
// grouptree를 fixed로 했을 때 문제가 생김
// curtain에도 문제 생김
@include mobtab {
    :root {
        --main-width: 100%;
        --nav-margin: 0;
        --nav-height: 85px;
        --top: 100px;
    }

    main {
        padding: 10px;

        tr>* {
            padding: 5px 8px;
        }
    }

    body {
        font-size: 14px;
    }

    .mh {
        display: none !important;
    }
}

@include desktop {
    :root {
        --main-width: #{$mainWidth};
        --nav-height: 60px;
        --nav-margin: calc((100% - #{$mainWidth} - 2 * #{$navWidth} - 40px) / 2);
        --top: 110px;
    }

    main {
        tr>* {
            padding: 5px 10px;
        }
    }

    body {
        font-size: 16px;
    }

    .ph {
        display: none !important;
    }
}

.shareMermaid {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 100%;

    path {
        stroke-opacity: .5;
    }

    >* {
        display: flex;
        justify-content: center;
        height: 100% !important;
    }

    >*,
    svg {
        width: 100%;
    }


    .flowchart-label {

        rect {
            fill: $bgDark !important;
            stroke: $bgDark !important;
            rx: 10 !important;
            stroke-width: 10 !important;
        }

        .label-container {
            fill: $bgBright !important;
            stroke: none !important;
        }
    }

    .nodeLabel {

        &,
        span {
            color: $textColor !important;
        }
    }

    .subgraph {
        stroke-width: 10 !important;
        rx: 10 !important;


        rect {
            fill: $bgDark !important;
            stroke: $bgDark !important;
            padding: 10px;
        }

        &.subgraph-lvl-1 {
            fill: $bgMid !important;
            stroke: $bgMid !important;
        }

        .nodeLabel {
            color: $textBright !important;
            font-weight: bold;
        }
    }

    .edgeLabel {
        background: $bgDark !important;
        color: $textBright !important;

        * {
            overflow: visible;
        }

        z-index: -1;

        &:hover {
            * {
                z-index: 9999;
            }

            >.d {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                background: $bgDark;
                z-index: 999;
            }
        }
    }

    .flowchart-link {}
}

.katex-html {
    display: none;
}

main {
    margin: auto;
    display: block;
    text-align: left;
    margin-top: var(--top);
    width: var(--main-width);
    padding-bottom: 800px;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4 {
    scroll-margin-top: calc(var(--nav-height) + 5px);
    color: $textBright;

    * {
        color: $textBright;
    }
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
}

html {
    background: $bgDark;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    color: $textColor;
    border-color: $borderColor;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}

main img {
    max-width: 100%;
    width: auto;
    height: auto;
}

canvas {
    max-height: unset;
}

i {
    width: 1em;
    height: 1em;
    cursor: pointer;
    display: inline-block;
}

.fa {
    font-size: 1em;
}

a {
    color: $anchor;
}

a:not(:hover) {
    text-decoration: none;
}

button:focus,
input:focus {
    outline: none;
}

.d {
    display: none;
}

.bold,
.bold * {
    color: $textBright;
    font-weight: bold;
}

.red,
.red * {
    color: $red !important;
}

.blue,
.blue * {
    color: $blue !important;
}

.yellow,
.yellow * {
    color: yellow !important;
}

.des {
    text-align: right;
    font-size: .8em;
    margin: 0;
}

hr {
    border: 1px solid $borderColor;
    clear: both;
}

.clear::after {
    content: '';
    display: block;
    clear: both;
}

dialog {
    background: none;
    border: none;
}

button,
a,
label {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    background: none;
    border: none;
}

button {
    background: none;
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px $bgDarker;
    border-radius: 10px;
    overflow: hidden;

    thead,
    tfoot {
        text-align: center;

        tr>* {
            background: $thColor;
        }
    }

    tbody {
        tr>* {
            background: $tbColor;
            z-index: 0;
        }

        &:not(thead+*) {
            th {
                background: $thColor;
            }
        }
    }

    .th {
        background: $thColor;

        td,
        th {
            background: $thColor;
        }
    }
}

tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: $bgDark;

    >* {
        padding: 2px 3px;
        word-break: keep-all;
    }
}

table.fixed {
    table-layout: fixed;
}


footer {
    font-size: .8em;
}

.unranked,
.unranked * {
    color: $unranked !important;
}

.bronze,
.bronze * {
    color: $bronze !important;
}

.silver,
.silver * {
    color: $silver !important;
}

.gold,
.gold * {
    color: $gold !important;
}

.platinum,
.platinum * {
    color: $platinum !important;
}

.diamond,
.diamond * {
    color: $diamond !important;
}

.master,
.master * {
    color: $master !important;
}

.bg-unranked {
    background: $unranked;
}

.bg-bronze {
    background: $bronze;
}

.bg-silver {
    background: $silver;
}

.bg-gold {
    background: $gold;
}

.bg-platinum {
    background: $platinum;
}

.bg-diamond {
    background: $diamond;
}

.bg-master {
    background: $master;
}