@import 'variables.module.scss';

.nav {
    position: fixed;
    width: 100%;
    background: var(--bg-main);
    border-bottom: 1px solid var(--border-color);
    height: 60px;
    padding: 10px;
    z-index: 10;
    text-align: left;

    .buttonList {
        margin-left: var(--nav-margin);
        display: inline-block;
        height: 100%;

        .button {
            color: $textColor;
            text-decoration: none;
            vertical-align: middle;
            height: 100%;
            border-right: 1px solid var(--border-color);
            padding: 5px 20px;
            font-size: 1em;
            display: inline-flex;
            align-items: center;
            transition: all .3s;
            border-radius: 5px;
        }

        .button:hover {
            background: $bgDark;
            transition: all .3s;
        }
    }

    >* {
        vertical-align: -webkit-baseline-middle;
    }

    a {
        font-weight: bold;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1em;
    }
}

.menuOpen {
    display: none;
    height: 100%;
}

@include mobtab {
    .nav {
        .buttonList {
            a {
                padding: 5px 15px;
            }
        }

        // top: 0;
    }

    .menuOpen {
        display: block;
        float: right;
    }

    .search {
        display: none;
    }
}