.pages {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.od {
    input {
        display: none;
    }

    input:checked+label {
        background: var(--blue);
    }

    input:checked+label::after {
        content: "떨";
    }

    label {
        display: block;
        background: var(--red);
        width: 20px;
        height: 20px;
        margin: auto;
        text-align: center;
        border-radius: 3px;
        font-weight: bold;
        color: #ffffff;
    }

    label::after {
        content: "오";
    }
}

.added {
    >*:not(.price) {
        background: #2f387c;
    }
}

.addedPrice {
    >* {
        background: #2f387c;
    }
}

// tr:not(.addedPrice) .price * {
//     color: var(--text-darker);
// }

.price {

    >div {
        display: flex;
        align-items: center;
        width: 95%;
        height: 100%;
        padding: 0;
        margin: auto;

        input {
            margin-right: auto;
            max-width: 80px;
            font-size: 1em;
        }

        span {
            text-align: right;

            .priceDiff {
                margin-right: 5px;
            }

            .pricePercent::after {
                content: "%";
            }
        }
    }
}


.tr>* {
    text-align: center;
    cursor: pointer;
    border: none;
}


.table {
    border-radius: 10px;
    padding: 0 5px;
    background: var(--th-color);

    thead {
        tr>* {
            text-align: center;
            border: none;
            border-bottom: 2px solid var(--border-color);
        }
    }

    tbody {
        tr:first-child>* {
            padding-top: 12px;
        }
    }
}