@import './variables.module.scss';

.rank {
    >span {
        font-weight: bold;
    }

    >*[rank^="bronze"] {
        color: $bronze;
    }

    >*[rank^="silver"] {
        color: $silver;
    }

    >*[rank^="gold"] {
        color: $gold;
    }

    >*[rank^="platinum"] {
        color: $platinum;
    }

    >*[rank^="diamond"] {
        color: $diamond;
    }
}

.id {
    font-weight: bold;
    font-size: 20px;
}

.user {
    padding: 10px;
    background: $bgDark;
    border-radius: 5px;
    text-align: left;
}

.box {
    >a {
        text-decoration: none;
        color: $textBright;
        border-radius: 50%;
        background: $bgDark;
        padding: 10px;
        width: 35px;
        height: 35px;
        text-align: center;

        &.alarm span {
            position: absolute;
            right: 0;
            top: 0;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            font-size: 10px;
            background: rgba(255, 0, 0, .85);
            color: white;
            font-weight: bold;

            &:after {
                content: attr(data-count);
                margin: auto;
                vertical-align: middle;
            }
        }
    }
}

.alarmSetting {
    position: relative;
    display: inline-block;

    >* {
        display: inline-block;
    }
}