@import './variables.module.scss';

.rank {
    >span {
        font-weight: bold;
    }

    >*[rank^="bronze"] {
        color: var(--rank-bronze);
    }

    >*[rank^="silver"] {
        color: var(--rank-silver);
    }

    >*[rank^="gold"] {
        color: var(--rank-gold);
    }

    >*[rank^="platinum"] {
        color: var(--rank-platinum);
    }

    >*[rank^="diamond"] {
        color: var(--rank-diamond);
    }
}

.id {
    font-weight: bold;
    font-size: 20px;
}

.user {
    padding: 10px;
    background: $bgDark;
    border-radius: 5px;
    text-align: left;
}

.box {
    position: relative;

    >a {
        text-decoration: none;
        color: $textBright;
        border-radius: 50%;
        background: $bgDark;
        padding: 10px;
        width: 35px;
        height: 35px;
        position: relative;

        &.alarm:after {
            content: attr(data-count);
            position: absolute;
            right: 0%;
            top: 1%;
            font-size: 30%;
            padding: .6em;
            border-radius: 50%;
            color: white;
            background: rgba(255, 0, 0, .85);
            text-align: center;
            font-weight: bold;
            min-width: 2em;
            line-height: 2em;
        }
    }
}

.alarmSetting {
    position: relative;

    >* {
        display: inline-block;
    }
}