$kakao: #FEE500;

$mobWidth: 450px;
$mainWidth: 1000px;
$navWidth: 260px;
$navHeight: 60px;
$midWidth: $mainWidth + $navWidth;

$bgDarker: #030d18;
$bgDark: #04091e;
$bgMidDark: #111329;
$bgMid: #181633;
$bgMidBright: #16223b;
$bgBright: #17223d;
$bgBrighter: #26395e;
$bgOpacity: #29344b4b;

$textColor: #aaa;
$textBright: #e5e5e5;
$textDark : #8a8a8a;
// $anchor: #c4c4c4;
$anchor: #9dc9d6;
$anchorBright: #c2d8df;

$borderColor: #1a1a2d;
// $borderColor: #21212d;
$barColor: #313b53;
$thColor: #111327;
$tbColor: #14172e;

$red: #e3665d;
$redDark: #612d29;
$redBright: #e33327;
$blue: #727ddd;
$blueDark: #323764;
$blueBright: #3a4be0;
$green: #5ba76e;

$tradeUp: #26a69a;
$tradeDown: #ef5350;

$unranked: #383838;
$bronze: #884e1e;
$silver: #7e7e7e;
$gold: #bdb32a;
$platinum: #4aebba;
$diamond: #4a9deb;
$master: #eb4a4a;

:export {
    mobWidth: $mobWidth;
    midWidth: $midWidth;
    navHeight: $navHeight;
    navWidth: $navWidth;

    bgOpacity: $bgOpacity;
    bgDarker: $bgDarker;
    bgDark: $bgDark;
    bgMidBright: $bgMidBright;
    bgMid: $bgMid;
    bgMidDark: $bgMidDark;
    bgBright: $bgBright;
    bgBrighter: $bgBrighter;

    textDark: $textDark;
    textColor: $textColor;
    textBright: $textBright;
    anchor: $anchor;
    anchorBright: $anchorBright;

    borderColor: $borderColor;
    barColor: $barColor;

    red: $red;
    redDark: $redDark;
    redBright: $redBright;
    blue: $blue;
    blueDark: $blueDark;
    blueBright: $blueBright;

    tradeUp: $tradeUp;
    tradeDown: $tradeDown;

    unranked: $unranked;
    bronze: $bronze;
    silver: $silver;
    gold: $gold;
    platinum: $platinum;
    diamond: $diamond;
    master: $master;
}

@mixin mobile {
    @media screen and (max-width:$mobWidth) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:$midWidth) and (min-width:$mobWidth) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$midWidth) {
        @content;
    }
}

@mixin mobtab {
    @media screen and (max-width:$midWidth) {
        @content;
    }
}