$midWidth: 1280px;
$mobWidth: 450px;
$mainWidth: 700px;
$navWidth: 250px;
$navHeight: 60px;

$bgDarker: #030d18;
$bgDark: #04111e;
$bgMid: #0b1325;
$bgMidBright: #10192C;
$bgBright: #121b30;
$bgBrighter: #26395e;
$bgOpacity: #29344b4b;

$textColor: #aaa;
$textBright: #e5e5e5;
$anchor: #7ec5db;
$anchorBright: #c2d8df;

$borderColor: #21212d;
$barColor: #313b53;

$red: #e3665d;
$redDark: #612d29;
$redBright: #e33327;
$blue: #727ddd;
$blueDark: #323764;
$blueBright: #3a4be0;

:export {
    mobWidth: $mobWidth;
    midWidth: $midWidth;
    navHeight: $navHeight;
    navWidth: $navWidth;

    bgOpacity: $bgOpacity;
    bgDarker: $bgDarker;
    bgDark: $bgDark;
    bgMid: $bgMid;
    bgBright: $bgBright;
    bgBrighter: $bgBrighter;

    textColor: $textColor;
    textBright: $textBright;
    anchor: $anchor;
    anchorBright: $anchorBright;

    borderColor: $borderColor;
    barColor: $barColor;

    red: $red;
    redDark: $redDark;
    redBright: $redBright;
    blue: $blue;
    blueDark: $blueDark;
    blueBright: $blueBright;
}

@mixin mobile {
    @media screen and (max-width:$mobWidth) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:$midWidth) and (min-width:$mobWidth) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:$midWidth) {
        @content;
    }
}

@mixin mobtab {
    @media screen and (max-width:$midWidth) {
        @content;
    }
}